@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

textarea {
    resize: none;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important
}

.stage-cube-cont {
    
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #e79c25;
        background: rgba(116, 112, 107, 0.5);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* box-shadow: 0 0 20px 0px lightyellow; */
    }

    .face1 {
        transform: rotateY(0deg ) translateZ( 100px );
    }

    .face2 {
        transform: rotateX( 180deg ) translateZ( 100px ) rotateZ( 180deg ); 
    }

    .face3 {
        transform: rotateY(  90deg ) translateZ( 100px );
    }

    .face4 {
        transform: rotateY( -90deg ) translateZ( 100px );
    }

    .face5 {
        transform: rotateX(  90deg ) translateZ( 100px ) rotateZ( 180deg );
    }

    .face6 {
        transform: rotateX( -90deg ) translateZ( 100px );
    }
}

@keyframes spincube {
    from {
        transform: rotateY(0) rotateX(45deg) rotateZ(45deg);
      }
      to {
        transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg);
      }
}

.face1:hover {
    transform: translateZ ( 200px );
}
